Servicios/Noticia.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://ws.apache.org/axis2" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" targetNamespace="http://ws.apache.org/axis2">
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="unqualified" targetNamespace="http://ws.apache.org/axis2">
            <xs:element name="setTitular">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="titular" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="setDescripcion">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getTitular">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getTitularResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getDescripcion">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getDescripcionResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="setTitularRequest">
        <wsdl:part name="parameters" element="ns:setTitular"/>
    </wsdl:message>
    <wsdl:message name="setDescripcionRequest">
        <wsdl:part name="parameters" element="ns:setDescripcion"/>
    </wsdl:message>
    <wsdl:message name="getDescripcionRequest">
        <wsdl:part name="parameters" element="ns:getDescripcion"/>
    </wsdl:message>
    <wsdl:message name="getDescripcionResponse">
        <wsdl:part name="parameters" element="ns:getDescripcionResponse"/>
    </wsdl:message>
    <wsdl:message name="getTitularRequest">
        <wsdl:part name="parameters" element="ns:getTitular"/>
    </wsdl:message>
    <wsdl:message name="getTitularResponse">
        <wsdl:part name="parameters" element="ns:getTitularResponse"/>
    </wsdl:message>
    <wsdl:portType name="NoticiaPortType">
        <wsdl:operation name="setTitular">
            <wsdl:input message="ns:setTitularRequest" wsaw:Action="urn:setTitular"/>
        </wsdl:operation>
        <wsdl:operation name="setDescripcion">
            <wsdl:input message="ns:setDescripcionRequest" wsaw:Action="urn:setDescripcion"/>
        </wsdl:operation>
        <wsdl:operation name="getDescripcion">
            <wsdl:input message="ns:getDescripcionRequest" wsaw:Action="urn:getDescripcion"/>
            <wsdl:output message="ns:getDescripcionResponse" wsaw:Action="urn:getDescripcionResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getTitular">
            <wsdl:input message="ns:getTitularRequest" wsaw:Action="urn:getTitular"/>
            <wsdl:output message="ns:getTitularResponse" wsaw:Action="urn:getTitularResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="NoticiaSoap11Binding" type="ns:NoticiaPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="setTitular">
            <soap:operation soapAction="urn:setTitular" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="setDescripcion">
            <soap:operation soapAction="urn:setDescripcion" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getDescripcion">
            <soap:operation soapAction="urn:getDescripcion" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getTitular">
            <soap:operation soapAction="urn:getTitular" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="NoticiaSoap12Binding" type="ns:NoticiaPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="setTitular">
            <soap12:operation soapAction="urn:setTitular" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="setDescripcion">
            <soap12:operation soapAction="urn:setDescripcion" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getDescripcion">
            <soap12:operation soapAction="urn:getDescripcion" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getTitular">
            <soap12:operation soapAction="urn:getTitular" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="NoticiaHttpBinding" type="ns:NoticiaPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="setTitular">
            <http:operation location="setTitular"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="setDescripcion">
            <http:operation location="setDescripcion"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getDescripcion">
            <http:operation location="getDescripcion"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getTitular">
            <http:operation location="getTitular"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="Noticia">
        <wsdl:port name="NoticiaHttpSoap11Endpoint" binding="ns:NoticiaSoap11Binding">
            <soap:address location="http://localhost:7162/axis2/services/Noticia.NoticiaHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="NoticiaHttpSoap12Endpoint" binding="ns:NoticiaSoap12Binding">
            <soap12:address location="http://localhost:7162/axis2/services/Noticia.NoticiaHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="NoticiaHttpEndpoint" binding="ns:NoticiaHttpBinding">
            <http:address location="http://localhost:7162/axis2/services/Noticia.NoticiaHttpEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>